{% extends "clothes/base_clothes.html" %}

{% block title %}{{ article.name }}{% endblock title %}

{% block content %}
<h1>{{ article.name }}</h1>
<p>Size: {{ article.size }}</p>
<p><a href="/clothes/article_type/{{article.article_type.id}}">{{ article.article_type }}</a></p>
<p>Purchased on {{ article.purchase_date|date:'M d, Y' }}
	from {{ article.purchase_location }}
	for ${{ article.cost }}</p>

<h3>Colors</h3>
<ul>
  {% for color in article.color.all %}
    <li><a href="/clothes/color/{{color.id}}">{{ color.name }}</a></li>
  {% endfor %}
</ul>

<h3>Worn With</h3>
<ul>
{% for article in article.worn_with %}
  <li><a href="/clothes/article/{{article.id}}">{{ article.name }}</a></li>
{% endfor %}
</ul>

{% if article.outfits.all %}
  <h3>Outfits</h3>
  <ul>
  {% for outfit in article.outfits.all %}
    <li>
        <a href="/clothes/outfit/{{outfit.id}}/">{{ outfit }}</a>
    </li>
  {% endfor %}
  </ul>
{% endif %}

{% if article.accessorized_outfits.all %}
  <h3>Accessorized Outfits</h3>
  <ul>
  {% for aoutfit in article.accessorized_outfits.all %}
    <li>
        <a href="/clothes/aoutfit/{{aoutfit.id}}/">{{ aoutfit }}</a>
    </li>
  {% endfor %}
  </ul>
{% endif %}

{% endblock content %}
