{% extends "clothes/base_clothes.html" %}

{% block title %}{{ date.date }}{% endblock title %}

{% block content %}
<h1>{{ date.date }}</h1>

<h2>Outfits worn:</h2>
<ul>
{% for props in date.outfitwearingproperties_set.all %}
  <li><a href="/clothes/aoutfit/{{props.accessorizedoutfit.id}}">Accessorized Outfit #{{ props.accessorizedoutfit.id }}</a>
  <ul>
  <li>
    <a href="{{props.photo.src_1000}}"><img src="{{props.photo.src_320}}"/></a>
  </li>
  <li>
    <a href="/clothes/outfit/{{props.accessorizedoutfit.base_outfit.id}}">Base Outfit #{{ props.accessorizedoutfit.base_outfit.id }}</a>
    <ul>
    {% for article in props.accessorizedoutfit.base_outfit.articles.all %}
      <li><a href="/clothes/article/{{article.id}}">{{ article }}</a></li>
    {% endfor %}
    </ul>
  </li>
  <li>Dates Worn
    <ul>
    {% if props.accessorizedoutfit.dates_worn %}
      {% for date in props.accessorizedoutfit.dates_worn.all %}
        <li><a href="/clothes/date/{{date.id}}">{{ date.date|date:'Y-m-d' }}</a></li>
      {% endfor %}
    {% endif %}
    </ul>
  </li>
  
    <li>Accessories
      <ul>
        {% for article in props.accessorizedoutfit.articles.all %}
          <li><a href="/clothes/article/{{article.id}}">{{ article }}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  </li>
{% endfor %}
</ul>
{% endblock content %}

