{% extends "clothes/base_clothes.html" %}

{% block title %}{{ date.date }}{% endblock title %}

{% block content %}
<h1>{{ date.date }}</h1>

<h2>Outfits worn:</h2>
<ul>
{% for aoutfit in date.outfits_worn.all %}
  <li><a href="/clothes/aoutfit/{{aoutfit.id}}">Accessorized Outfit #{{ aoutfit.id }}</a>
  <ul>
  <li>
    <a href="/clothes/outfit/{{aoutfit.base_outfit.id}}">Base Outfit #{{ aoutfit.base_outfit.id }}</a>
    <ul>
    {% for article in aoutfit.base_outfit.articles.all %}
      <li><a href="/clothes/article/{{article.id}}">{{ article }}</a></li>
    {% endfor %}
    </ul>
  </li>
  <li>Dates Worn
    <ul>
    {% if aoutfit.dates_worn %}
      {% for date in aoutfit.dates_worn.all %}
        <li><a href="/clothes/date/{{date.id}}">{{ date.date|date:'Y-m-d' }}</a></li>
      {% endfor %}
    {% endif %}
    </ul>
  </li>
  
    <li>Accessories
      <ul>
        {% for article in aoutfit.articles.all %}
          <li><a href="/clothes/article/{{article.id}}">{{ article }}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  </li>
{% endfor %}
</ul>
{% endblock content %}

