{% extends "clothes/base_clothes.html" %}

{% block title %}{{ article.name }}{% endblock title %}

{% block content %}
<h1>{{ article.name }}</h1>
<p><a href="/clothes/article_type/{{article.article_type.id}}">{{ article.article_type }}</a></p>
<p>Purchased on {{ article.purchase_date|date:'M d, Y' }}
	from {{ article.purchase_location }}
	for ${{ article.cost }}</p>

<h3>Colors</h3>
<ul>
  {% for color in article.color.all %}
    <li><a href="/clothes/color/{{color.id}}">{{ color.name }}</a></li>
  {% endfor %}
</ul>

<ul>
{% for article in outfit.articles.all %}
  <li>
      <a href="/clothes/article/{{article.id}}/">{{article.name}}</a>
  </li>
{% endfor %}
</ul>
{% endblock content %}
