{% extends "clothes/base_clothes.html" %}

{% block title %}Home{% endblock title %}

{% block css %}<link rel="stylesheet" href="/static/js/closure-library/closure/goog/css/autocomplete.css">{% endblock css %}

{% block content %}
{% if dates %}
<h3>Dates</h3>
<ul>
{% for date in dates %}
  <li><a href="date/{{ date.id }}/">{{ date.date }}</a></li>
{% endfor %}
</ul>
{% else %}
    <p>No dates are available.</p>
{% endif %}

{% if outfits %}
<h3>Outfits</h3>
<ul>
{% for outfit in outfits %}
  <li><a href="outfit/{{outfit.id}}/">{{ outfit }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if articles %}
<h3>Articles</h3>
Search: <input type="text" id="searchText">
<ul>
{% for article in articles %}
  <li><a href="article/{{article.id}}/">{{ article }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock content %}

{% block js %}
<script>
goog.require('goog.ui.ac.Remote');
</script>
<script>
var input = document.getElementById('searchText');
var ac = new goog.ui.ac.Remote('/clothes/search/', input);
</script>
{% endblock js %}

