<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - {% block section_title %}{% endblock %} - Scrap and Run</title>
    
    <link href="/static/bs/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <!--<link href="/static/bs/css/bootstrap-responsive.css" rel="stylesheet">-->
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="i-bar"></span>
          <span class="i-bar"></span>
          <span class="i-bar"></span>
        </a>
        <a class="brand" href="/">Scrap and Run</a>
        <div class="nav-collapse">
          <ul class="nav">
            {% block navbar %}
              <li><a href="/">Home</a></li>
              <li><a href="/clothes/">Clothes</a></li>
            {% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  
  
  <div class="container">
    <div id="content">
      {% block content %}{% endblock content %}
    </div>
  </div>
  
    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/bs/js/bootstrap.js"></script>
</body>
</html>

